<!DOCTYPE html>
<!--Ctrl-alt-B  to list out the template-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ynot_website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Javascript & jquery libraries	-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Mainpage stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.min.css"> -->
    <link href="../static/css/bootstrap-4.2.1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.css">
    
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/ionicons.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>

<body>


<!--=======================
Navigation Bar 
===========================-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <!--100% full wide -->
            <a class="navbar-brand" href="#"><img src="../static/img/ynot_logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <!-- mobile dropdown list layout -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- pushes the nav to the right, desktop mode -->
                    <li class="nav-item active">
                        <!-- active is to make the hover colour darker -->
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./services.html">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">About us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./browsejobs.html">Career</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

<!--=======================
Image Slider - Carousel
===========================-->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/developer_code.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="carousel-caption">
                      <div class="section-title text-center pb-50"></div>
                      
                        <h1 class="display-2">Ynot Consulting</h1>
                        <h3> Canberra Digital Consunltancy</h3>
                        <a  class="btn btn-outline-light btn-lg" href="/services.html">View Services</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/workplace.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-2">Project Management &amp; Recruitment</h1>
                    <!-- <h3> Canberra Digital Consunltancy</h3> -->
                    <a  class="btn btn-outline-light btn-lg" href="/services.html">View Services</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/UI&UX.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-2">Design Services</h1>
                        <!-- <h3> Canberra Digital Consunltancy</h3> -->
                        <a type="button" class="btn btn-outline-light btn-lg" href="/services.html">View Services</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    
<!--=======================
Services Section
===========================-->
<div class="container-fluid padding">
<div class="row welcome text-container">
    <div class="col-12">
        <h1 class="display-4"></h1>
    </div>

</div>
</div>

<section id="services">
    <div class="container wow fadeIn">
      <div class="section-header">
        <div class="section-title text-center pb-50">
        <h3 class="section-title">One-Stop-Consulting-Services</h3>
        <p class="section-description">We are a Canberra based startup that provides assistance to government </p>
    
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href="services.html#Web_dev"><i class="fa fa-desktop"></i></a></div>
            <div class = "a">
            <h4 class="title"><a href="services.html#Web_dev">Website & Mobile App</a></h4>
            <p><a href="services.html#Web_dev">Read More</a></p>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href="services.html#BA"><i class="fa fa-bar-chart"></i></a></div>
            <h4 class="title"><a href="services.html#BA">Business & System Analysis</a></h4>
            <p><a href="services.html#BA">Read More</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href="services.html#Recruitment"><i class="fa fa-paper-plane"></i></a></div>
            <h4 class="title"><a href="services.html#Recruitment">Recruitment</a></h4>
            <p><a href="services.html#Recruitment">Read More</a></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href="services.html#UX_UI"><i class="fa fa-photo"></i></a></div>
            <h4 class="title"><a href="services.html#UX_UI">UI &amp UX Design</a></h4>
            <p><a href="services.html#UX_UI">Read More</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href="services.html#Cloud_Migration"><i class="fa fa-road"></i></a></div>
            <h4 class="title"><a href="services.html#Cloud_Migration">Cloud Migration</a></h4>
            <p><a href="services.html#Cloud_Migration">Read More</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href="services.html#Project_management"><i class="fa fa-shopping-bag"></i></a></div>
            <h4 class="title"><a href="services.html#Project_management">Program & Project Management</a></h4>
            <p><a href="services.html#Project_management">Read More</a></p>
          </div>
        </div>
      </div>

    </div>
  </section>




<!--=======================
Our stories - Jumbotron
===========================-->
<section id="about-us-stories">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="aus-title">Our Stories</h3>
                <p class="aus-text"> We are committed to the best possible outcome, every-time. We work tirelessly to
                    ensure our clients are completely satisfied and achieve all of their goals.</p>
            </div>
            <div class="col-lg-3 aus-btn-container text-center">
                <a class="aus-btn align-middle" href="#">About Us</a>
            </div>
        </div>
    </div>
</section>


 <!--==========================
    Logo - Our Clients
    ============================-->

    <div id="client" class="client-area pt-115 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-50">
                        <h2 class="text"> Our Clients</h2>
                    </div>
                </div>
            </div> 

<ul class="media-images">
  <li class="media-images__item">
    <img class="media-images__image" src="../static/img/Department of Communication.png" alt="Department of Communication">
  </li>
  <li class="media-images__item">
    <img class="media-images__image" src="../static/img/Deparment of health.png" alt="Department of Health">
  </li>
  <li class="media-images__item">
    <img class="media-images__image" src="../static/img/National Blood Authority.png" alt="National Bloody Authority">
  </li>
  <li class="media-images__item">
    <img class="media-images__image" src="../static/img/department of social services.png" alt="Deparment of Social Services">
  </li>
  <li class="media-images__item">
      <img class="media-images__image" src="../static/img/Deparment of health.png" alt="Department of Health">
    </li>
</ul>




<!-- Contact Us
=================================== -->
<section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contact Us</h3>
        <p class="section-description"></p>
      </div>
    </div>

  <!-- Google Map  -->
    
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    <iframe 
      width="100%" 
      height="350" 
      frameborder="0" 
      scrolling="no" 
      marginheight="0" 
      marginwidth="0"
      allowfullscreen 
      src="https://maps.google.com/maps?q=WOTSO+WorkSpace,Dickson+ACT&hl=en&z=14&amp;output=embed">
    </iframe>
    <div class="container wow fadeInUp mt-5">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Suite 14, level 4, 490 Northbourne Ave,<br>Dickson, ACT 2602</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>admin@ynotconsulting.com.au</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>0413 169 439</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

<!--================= Footer =====
  ==================================== -->

  <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">YNOT Consulting</h2>
            <p>As we are passionate about helping achieve real transformation of government services and businesses so we stand by our reputation and regard building strong and enduring relationships as a pillar of our companies growth.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">For Employers</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="pb-1 d-block">Browse Candidates</a></li>
              <li><a href="#" class="pb-1 d-block">Post a Job</a></li>
              <li><a href="#" class="pb-1 d-block">Employer Listing</a></li>
              <li><a href="#" class="pb-1 d-block">Resume Page</a></li>
              <li><a href="#" class="pb-1 d-block">Dashboard</a></li>
              <li><a href="#" class="pb-1 d-block">Job Packages</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Our Services</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="pb-1 d-block">Business & System Analysis </a></li>
              <li><a href="#" class="pb-1 d-block">Recruitment</a></li>
              <li><a href="#" class="pb-1 d-block">Website & Mobile app Development</a></li>
              <li><a href="#" class="pb-1 d-block">Cloud Migration</a></li>
              <li><a href="#" class="pb-1 d-block">UI & UX Design </a></li>
              <li><a href="#" class="pb-1 d-block">Project management </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Account</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="pb-1 d-block">My Account</a></li>
              <li><a href="#" class="pb-1 d-block">Sign In</a></li>
              <li><a href="#" class="pb-1 d-block">Create Account</a></li>
              <li><a href="#" class="pb-1 d-block">Checkout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">490 Northbourne Ave, Dickson ACT 2602</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+ 61 413-169-439</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@ynotconsulting.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright&copy;  <script>document.write(new Date().getFullYear());</script> All rights reserved | YNOT Consulting </p>
        </div>
      </div>
    </div>
  </footer>
  
  
  
<!--  ================End for Javascripts ==================-->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <!-- <script src="../static/js/bootstrap.min.js"></script> -->
  <script src="../static/js/bootstrap-4.2.1.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/jquery.waypoints.min.js"></script>
  <script src="../static/js/jquery.stellar.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/jquery.animateNumber.min.js"></script>
  <script src="../static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="../static/js/google-map.js"></script>
  <script src="../static/js/main.js"></script>
  